body{
    margin: 0;
    z-index: -2;
}
.header {
    background-color: #F6F8FA;
   width: 100%;
    height: 3rem;
    margin: 0;
    text-align: center;
    font-family: segoe Script;
}
.header h1 {
    margin: 0;
    padding: 1px;
}


.navbar{
    display: flex;
    background-color: #F6F8FA;
    width: 100%;
    height: 5rem;
    margin: 0;
    z-index: -1;
}

.toggleDiv{
    display: flex;
    right: 0.5%;
    top: 0.5%;
    position: absolute;
}

.container.night {
    background-color: #282c34;
    color: #e7e5e5;

}

.container.night .navbar {
    background-color: purple;
    color: #282c34;
}

.container.night .header {
    background-color: #282c34;
}
